* {

    box-sizing: border-box;
}

body {

    background-color: #EDE5D6;
    font-family: 'Abel', sans-serif;
    background: url(img/bg.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.bucket{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    margin-top: 10%;
    
}

.main-title { 
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: .4em;
    padding-left: .4em;
}

/* .main-title::after {
    background-color: #efefef; 
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 50px;
} */

.sub-title{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Abel', sans-serif;
    color: #888;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    letter-spacing: .1em;
    padding-left: .1em
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 55px 25px;
    max-width: 100%;
    width: 800px;
    height: 380px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

h3 {
    margin: 0;
    letter-spacing: 1px;
    opacity: 0.5;
}

.quote {
    font-size: 30px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;

}

.btn {

    background-color: rgb(242,185,134);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    color: rgb(97,77,84);
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

.btn:active {
 transform: scale(0.98)

}

.btn:focus{
outline: 0;


}

div#photo {
    width: 25%;
    height: 400px;
    float: left;
}
div#text-area {
    margin-left: 15%;
    height: 400px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(253,124,151,0.3);
    color: white;
    text-align: center;
 }