* {

    box-sizing: border-box;
}
html, body{
    height: 100%;
  }

body {

    background-color: #EDE5D6;
    font-family: 'Poppins', sans-serif;
    background-image: url(img/bg.svg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.wrapper {
    height: 100%; 
    width: 100%; 
    overflow: hidden;
  }

header {
    /* background: lightpink; */
    margin: 30px 0px 200px 0px;
}



.presentation {
    background: white;
    display: flex;
    width: 50%;

    margin: auto;
    /* min-height: 30vh; */
    max-width: 1000px; 

    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

}

.content-box {
    flex: 2;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    /* background: lightcoral; */

}

.quote-text {
    margin: 5px 10px 15px 20px;
    /* min-width: 350px; */
}

.quote-text p {
    margin: 5px;
    font-size: 22px;

}

.cover {

    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 25vh;

    /* background: green; */
    /* max-width: 350px; */
    /* min-width: 350px ;  */
}

.cover img {
    height: 99%;
    /* min-height: 60%; */
    filter: drop-shadow(0px 3px 2px black);
}

.main-title {
    /* background: lightcoral; */
    margin: 0px 0px 9px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 750;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: .4em;
    padding-left: .4em;

}


.sub-title {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1em;
    padding-left: .1em
}

.container {
    /* background-color: rgba(254, 254, 254, 0.83); */
    border-radius: 10px;
    margin-top: 80px;
    padding: 5px 15px;
    max-width: 100%;
    width: 900px;
    height: 400px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* h3 {
    margin: 0;
    letter-spacing: 1px;
    opacity: 0.5;
} */

.quote {
    font-size: 30px;
    line-height: 40px;
    margin: 50px 20px 30px 5px;
    max-width: 600px;
}

.author {
    margin-bottom: 50px;
}

.btn {

    background-color: rgb(242, 185, 134);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    color: rgb(97, 77, 84);
    padding: 14px 40px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    margin: 0px 0px 10px 0px;

}

.btn:active {
    transform: scale(0.98)
}

.btn:focus {
    outline: 0;


}




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(253, 124, 151, 0.4);
    color: black;
    text-align: center;
}

a {
    color: black;
}

.heading__title {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: hsla(188, 99%, 59%, 0.7);
    /* rgb(188,228,228) */
    font-size: 1.5rem;
}

@media screen and ( max-width:1388px){

   
    

    .presentation{
        flex-direction: column;
        width: 95%;
    }
    .content-box{
        margin-top: .01vh;
        text-align: center;
    }
    .quote-text h1{
        font-size: 22px;
    }
    .quote-text p {
     font-size: 18px;
 }

 header{
    margin: 10px 0px 15px 0px;
 }
 
 .main-title {
   
    /* margin: 0px 0px 30px 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .3em;
    padding-left: .2em;

}

.sub-title {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Abel', sans-serif;
    color: black;
    font-size: .7em;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1em;
    padding-left: .1em
}
.cover {

    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background: green; */
    /* max-width: 350px; */
    /* min-width: 350px ;  */
}

 
 .cover img{
  height: 100%;
 }


 .btn {

    background-color: rgb(242, 185, 134);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    color: rgb(97, 77, 84);
    padding: 14px 40px;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    margin: 0px 20px 20px 10px;

}

.footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 8px;
    background-color: rgba(253, 124, 151, 0.4);
    color: black;
    text-align: center;
}
 }